.package-cards{
	background: #dedede;
    border-radius: 10px;
    padding: 0 0 15px 0;
    margin:10px 0;
}
.card{
	width: 120px;
    display: inline-block;
    margin: 24px 20px 0 0;
    height: 170px;
	.card-image img{
		width:100px;
		left: 8px;
		top: 1px;
	}
	.card-content{
		padding: 24px 5px;
		.card-title{
			font-size: 16px;
			line-height:0;
		}
	}
}