.popular-categories-container{
	font-family:'SapientSansMedium';
	margin-top:20px;
	.popular-categories{
	list-style:none;
	padding:0px;
	margin:0;
	cursor:pointer;
	padding:10px 0 25px 1%;
	}
}
