@import './bootstrap.scss';
@import '../fonts/font-face.scss';
*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	min-height:100vh;
    padding-bottom: 260px;
    position: relative;
}