.package-details-side{
	font-family:'SapientSansRegular';
	.details-list{
		margin:20px 0 0 0;
		list-style:none;
		
		li{
			margin:10px 15% 0 5%;
			padding:5px 0;
			border-bottom:1px solid #d6d6d6;
		}
		.github-repo-link{
			cursor:pointer;
		}
	}
	.details-logo-container{
		width:50px;
		height: 50px;
		text-align:left;
		padding:0 2% 0 0; 
		display: inline;
	}
	.publisher-logo{
		width:50px;
	}
	.details{
		margin:30px 15% 0 5%;
		.version-history{
			width:60%;
			margin:0 15% 20px 0;
			th, td{
				padding: 0 2% 0 6%;
			}
			td{
				text-align:center;
				padding:5px 0px;
				border-bottom:1px solid #d6d6d6;
			}
		}
	}
}