@font-face {
    font-family: 'SapientSansRegular';
    src: url('../fonts/SapientSansRegular.eot'),
    url('../fonts/SapientSansRegular.woff') format('woff'), 
    url('../fonts/SapientSansRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'SapientSansLight';
    src: url('../fonts/SapientSansLight.eot'),
    url('../fonts/SapientSansLight.woff') format('woff'), 
    url('../fonts/SapientSansLight.ttf') format('truetype');
}

@font-face {
    font-family: 'SapientSansMedium';
    src: url('../fonts/SapientSansMedium.eot'),
    url('../fonts/SapientSansMedium.woff') format('woff'), 
    url('../fonts/SapientSansMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'SapientSansBlack';
    src: url('../fonts/SapientSansBlack.eot'),
    url('../fonts/SapientSansBlack.woff') format('woff'), 
    url('../fonts/SapientSansBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'SapientSansBold';
    src: url('../fonts/SapientSansBold.eot'),
    url('../fonts/SapientSansBold.woff') format('woff'), 
    url('../fonts/SapientSansBold.ttf') format('truetype');
}