.package-description{
	font-family:'SapientSansRegular';
	.code{
		background-clip: padding-box;
	    border: 1px solid #ccc;
	    display: inline-block;
	    line-height: 20px;
	    margin: 0 2px -1px;
	    padding: 0px 3px;
	    vertical-align: baseline;
	    border-radius: 4px;
	}
}