.search-bar{
    width: 64%;
    height: 50px;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

.search-input{
	background:transparent;
	height: 40px;
    width: 95%;
    border: 0;
    border-bottom: 2px solid grey;
    outline: none;
    &::-webkit-input-placeholder {
        color: #595858;
        font-size: 20px;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
        color: #595858;
        font-size: 20px;
    }
    &:-ms-input-placeholder {  
        color: #595858;
        font-size: 20px;
    }
}

.search-icon{
	width: 50px;
    height: 50px;
    display: inline;
    padding: 10px;
    font-size: 1.4em;
    color: #8c8c8c;
}