
.header{
	background:#1d1d1d;
}
.nav-bar{
	height:30px;
	background:#2b2b2b;
	span{
		padding: 0 5%;
		display: inline-block;
		vertical-align:  -webkit-baseline-middle;
		a{
			&:focus, &:hover{
				text-decoration:none;
			}
		}
	}
}
