.user-details{
    color: black;
    display: inline-block;
    width: 15%;
    padding: 15px 1%;
    vertical-align: top;
    text-align: center;
}

.user-name{
	color:black;
	padding:0 5% 0 0;
}

.avatar{
	width:15%;
	border-radius:50%;
	vertical-align:middle;
}