.search-result{

	margin:30px 0 0 0 ;
	padding:0 2% 0 5%;
	.results{
		list-style: none;
	}
	.result-list{
		padding:20px 0 20px 0;
		border-bottom: 1px solid #C2C2C2;
	}
	.search-publisher{
		font-family:'SapientSansMedium';
		cursor:pointer;
		color:#CACACA;
		font-size: 16px;
	}
	.result-description , .result-version {
		font-family:'SapientSansRegular';
		padding:0 0 0 7%;
	}
	.result-version{
		color:#a7a7a7;
	}
	.search-result-title{
	font-family:'SapientSansMedium';
		cursor:pointer;
		display: inline-block;
		vertical-align: top;
	}
	.search-logo-container{
	width:55px;
	height: 50px;
	text-align:left; 
	display: inline-block;
	vertical-align: bottom;
	.search-package-logo{
		max-width:90%;
		height: 3em;
	}

}
}